#div-header2{
	width: 100%;
	height: 30vh;
	position: sticky;
	top: 0px;
	background-color: #eeeeee;
	z-index: 2;
}

.logotipo{
	width: 30%;
	height: auto;
	margin-top: 1%;

	animation-name: animationL;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes animationL {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
	50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
		transform: translateX(0%);
    }
}

.isotipo{
	width: 20%;
	height: auto;
	position: sticky;
	margin-top: 1.5%;
	margin-left: 50%; 
}

@media (max-width: 350px){
	#div-header2{
		height: 9vh;
	}
}